#db:
tokens.sqlite
# dotenv environment variable files
.env

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store

#http-client-env
/api-requests/http-client.env.json
/.ssl

node_modules/
